# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\hyung\CLionProjects\Codechef\Practice\Beginner\Chef and Cook-Off Contests - C00K0FF\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
